.bg-secondary {
    background-color: #393230 !important;
}
.bg-primary {
    background-color: #e09011 !important;
    color: white !important;
}
.text-primary {
    color: #e09011 !important;
}

.logo-header {
    height: 200px;
    position: absolute;
    margin-top: -5.5rem;
}
.princia-subheader {
    height: 110px !important;
}
.mobile-logo-header {
    visibility: hidden;
}

.footer-logo-image {
    height: 400px;
    margin-top: -5rem;
    margin-bottom: -10rem;
}

.footer-contant ul li a{
    font-size: 17px;
}
@media (min-width: 992px) {
    .princia-navbar {
        visibility: hidden;
    }
}

@media (max-width: 992px) {
    .logo-header {
        visibility: hidden;
    }
    .mobile-logo-header {
        visibility:visible;
        height: 120px;
        margin-top: -1.5rem;
    }
}
#mobile_headerUserIcon {
    display: none;
}

@media (max-width: 776px) {
    #mobile_headerSettingIcon {
        display: none;
        visibility: hidden;
    }
    #mobile_headerUserIcon {
        display: flex;
    }
    .mobile-account {
        display: none;
    }
    #mobile-account {
        visibility: hidden;
        display: none;
    }
    .footer-logo-image {
        height: 200px;
        margin-top: -2rem;
        margin-bottom: -3rem;
        margin-left: 5rem;
    }

    #first_title {
        font-size: 20px;
    }
    .header-slider2 {
        display: none;
    }
    .collection_banner {
        display: none;
    }
    .header-slider2 {
        visibility: hidden;
        display: none;
    }
    .sm-horizontal {
        display: none;
        visibility: hidden;
    }
}

.bg-third {
    background-color: rgb(11, 10, 10)
}